<h2 id="page">THANK YOU FOR YOUR SIGNATURE!</h2>

<div id="thankstext">
    <div id="sigdiv"><img id="signature" src="{{url}}"/></div>
    <div id="text">
        <p> Hey there {{name}}, <span>thank you</span> for signing our petition. We are happy to see that so many like-minded people care about this movement. Soon, and thanks to <span>your</span> signature, a SPICED kitty petting zoo could become a reality...</p>
    </div>
    <div id="links">
        <a id="signers-link" href="/signers"><p>See who else wants to pet kitties!</p></a>
        <a id="edit-link" href="/profile/edit"><p>Edit your profile information!</p></a>
        <a id="delete-link" href="/delete-signature"><p>Delete your signature...</p></a>
    </div>
    <!-- <div id="kitty-thanks"><img src="../img/charlie.gif"/></div> -->
</div>

<div id="comic">
<h3>Ok maybe it wasn't such a good idea...</h3>
<img src="../img/comic.jpg">
</div>
